//bootstrap
@import '~bootstrap/scss/bootstrap';

//fontawesome
$fa-font-path: './webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

//font
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

//variables
@import './variables.scss';

//reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: $main-font-size;
}

h1, h2, h3, h4{
    font-family: $main-font;
}
h1, h2, h3, h4, h5, h6{
    color: $main-font-color;
}

p{
    font-family: $secondary-font;
    color: $secondary-font-color;
    font-size: .8em;
}

.smaller{
    font-size: .7em;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}