//colors
$page-theme: #fc7525;
$main-font-color: #262628;
$secondary-font-color: #6a6b6c;
$light-font-color: #afafaf;
$bg-color: #f6f7f1;
$white-font: #ffffff;
$shadows: #f0eeeb;

//fonts
$main-font: "Arial", "sans-serif";
$main-font-size: 20px;