//colors
$page-theme: #fc7525;
$main-font-color: #262628;
$secondary-font-color: #6a6b6c;
$light-font-color: #afafaf;
$bg-color: #f6f7f1;
$darker-bg-color: #edede7;
$white-font: #ffffff;
$shadows: #f0eeeb;
$highlight_text: #0492ad;
$twitter_hover: #F5F8FA;
$twitter_blue: #55ACEE;
$fixed-blue: #4c5b6c;

//fonts
$main-font: 'Vidaloka', serif;
$secondary-font: 'Arial', serif;
$main-font-size: 20px;